.header {
    height: 293px;
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;

}

.header-menu-list {
    display: flex;
    gap: 33px;
}

.header-menu-list-item {
    list-style-type: circle;
    font-size: 18px; 
    
    
}

.action-list-item {
    list-style-type: none;
}

.header-menu-list-item-link{
    text-decoration: underline; 
}

.action-list-item a {
    text-decoration: none;    
}

.logo-black{
    width: 148px;
    height: 105px;
    justify-self: center;
    
}

.logo-img-black {
    width: 148px;
    height: 105px;
}

.header-contacts {
    max-width: 240px;
    height: 98px;
    justify-self: end;
    font-size: 18px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

/* Блок шапки */ 

/* Началос блока cover*/
.cover {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    z-index: -2;
    position: relative;
    padding: 0 50px 50px;   
    min-height: 757px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 106px;
    
}

.overlay {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

}

.cover-title {
    min-height: 385px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    line-height: 115px;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(3, 1fr);
    
}

.cover-title-word-ono {
   letter-spacing: 30px;
   justify-self: start;
   
}

.cover-title-word-tebe {
    letter-spacing: 30px;
    justify-self: center;
    width: 339px;
}

.cover-title-word-nado {
    letter-spacing: 30px;
    justify-self: end;
    width: 387px;
    
}
.description {
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-text {
    font-size: 22px;
    font-weight: normal;
    word-spacing: 18px;
    color: white;
    
    
}

.bet-button {
    width: 256px;
    height: 51px;
    background-color: transparent;
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid white;

}
/* Конец блока cover*/

/* Начало блока lots*/
.lots {
    margin-top: 180px;
    padding: 0 24px;
    min-height: 723px;
}

.lots-header {
    padding: 0 0 27px 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots-card-list {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    flex-wrap: wrap;
    list-style-type: none;
}

.lots-card-list-item {
    width: 334px;
    height: 596px;
    z-index: -2;
}

.card-link {
    height: 100%;
}

.card {
    height: 100%;
    position: relative;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.card-title {
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline 1px;
}

.card-text {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.lots-look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration: underline 1px;
    text-underline-offset: 4px;
}
/* Конец блока lots */

/* Начало блока about */

.about{
    height: 595px;
    padding: 0 24px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 334px 1fr;
    
}

.column-logo {
    padding-top: 35px;
    justify-self: center;
}

.about-logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-logo-image {
    width: 148px;
    height: 114px;  
}

.column-about {
    padding-left: 25px;
}

.about-title {
    margin: 136px 0 100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-description {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-text {
    font-size: 20px;
    font-weight: 400;
}

/* Конец блока about */

/* Подвал */

.footer {
   margin-top: 180px;
   padding: 0 50px;
   height: 180px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.footer-contacts {
    max-width: 260px;
    height: 98px;
    justify-self: start;
    font-size: 18px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.footer-contacts span a {
    text-underline-offset: 4px;
}

.footer-menu {
    justify-self: center;
}

.footer-menu-list {
    list-style-type: none;
    text-align: center;
}

.footer-menu-list-item {
    font-size: 18px; 
}

.footer-menu-list-item-link {
    text-decoration: underline;
    text-underline-offset: 4px;
    
}

.footer-social-list {
    list-style-type: none;
    justify-self: end;
    display: flex;
    gap: 48px;
}

.footer-social-icon {
    width: 48px;
    height: 48px;
}